.color-1
{
    background-color:  rgb(68, 69, 69);
}

.color-2
{
    background-color:  rgb(181, 255, 233);
}

.color-3
{
    background-color:  rgb(197, 224, 216);
}

.color-4
{
    background-color:  rgb(201, 201, 201);
}

.color-5
{
    background-color:  rgb(206, 171, 177);
}