.color-1
{
    background-color:  rgb(68, 69, 69);
}

.color-2
{
    background-color:  rgb(6, 88, 147);
    color: rgb(161, 202, 231);
}

.color-3
{
    background-color:  rgb(23, 156, 188);
}

.color-4
{
    background-color:  rgb(51, 192, 167);
}

.color-5
{
    background-color:  rgb(251, 228, 163);
}