.color-1
{
    background-color:  rgb(68, 69, 69);
}

.color-2
{
    background-color:  rgb(117, 32, 146);
}

.color-3
{
    background-color:  rgb(201, 123, 188);
}

.color-4
{
    background-color:  rgb(255, 200, 114);
}

.color-5
{
    background-color:  rgb(255, 227, 59);
}